@model TimeReporting.Models.TimeRecord

@if (ViewBag.activityID != null)
{
    <select name="activityID">
    @foreach (var pId in ViewBag.activityID)
    {
        <option class="@pId.Value">@pId.Text</option>
    }
    </select>
}
else
{
    <select name="activityID"><option value="">No Activities</option></select>
}
