<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Time Reporting</title>
<link rel="stylesheet" href="files/style.css" type="text/css" media="all" />
<link rel="stylesheet" href="files/droppy.css" type="text/css" media="all" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
<script src="files/jquery.droppy.js" type="text/javascript"></script>
</head>

<body>
<div id="wrapper">

  	
<div id="header">
  <div id="sitename"><a href="#">Time Reporting</a></div>
  <div id="howdy">Hello, <a href="#">Username</a> | <a href="#">Log Out</a></div>
  <div class="clear"></div>
</div>    
    
<div id="menu-bar">
    <ul id="nav">
      <li><a href="#" class="toplevel" id='currentpage'>Home</a></li>
      <li><a href="#" class="toplevel" >Menu1</a>
          <ul>
              <li><a href="#">SubMenu2</a></li>
              <li><a href="#">SubMenu2</a></li>          
              <li><a href="#p">SubMenu2</a></li>
          </ul>      
      </li>   
	<li><a href="#" class="toplevel" >Menu2</a>
          <ul>
              <li><a href="menu.php">Submenu1</a></li>
          </ul>      
      </li>
    </ul>
</div>
<div id="menu-bar-sep"></div>  
  <div id="pushfooter"></div>
</div>


<div id="footer">
  <p>Designed and developed by: <a href="#" target="_blank">Group G, Code Camp 2011</a></p>
</div>
</body>

</html>