<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Log In</title>
<link rel="stylesheet" href="files/login.css" type="text/css" media="all" />
</head>
<body>
<div id="wrapper">
<div id="header">
  <div id="sitename"><a href="#">Time Reporting | Login</a></div>
  <div class="clear"></div>
</div> 
    <div id="login">	
    
                
        <form name="loginform" id="loginform" action="login.php" method="post">
            <p><label>Username<br /><input type="text" name="username" id="username" value="" size="20" /></label></p>
            <p><label>Password<br /><input type="password" name="userpass" id="userpass" value="" size="20" /></label></p>
            <p class="submit"><input type="submit" name="submit" id="submit" value="Log In" /></p>
        </form>
    </div>
</div>


<div id="footer">
   <p>Designed and developed by: <a href="#" target="_blank">Group G, Code Camp 2011</a></p>

</div>
</body>
</html>
